.Main {
    position: relative;
    margin: 0 auto;
}
.hidden {
    display: none;
}
.niliDatePicker {
    width: 300px;
    border: 1px solid #bbb;
    /* min-height: 520px; */
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    color: black;
}
.niliCalendar {
    width: 300px;
    border: 1px solid #bbb;
    position: relative;
    z-index: 2;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    height: 500p;
    color: black;
}
.calendarBtns {
    position: inherit;
    bottom: 0;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid blue;
}
.calendarBtns .niliactioButton {
    color: blue;
    background-color: white;
    border: 1px solid blue;
    padding: 2px;
    border-radius: 3px;
    height: 30px;
    flex-basis: 20%;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}
.calendarBtns .niliactioButton:hover {
    color: white;
    background-color: blue;
    border: 1px solid white;
}
.calendarAction {
    position: relative;
    height: 30px;
}
.header {
    padding: 5px 0;
    height: 160px;
    color: white;
    background-color: #0763ad;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.pickerHeader {
    padding: 5px 0;
    color: white;
    background-color: #0763ad;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.pickerCurrentDate {
    direction: rtl;
}
.jallaliCurrentDate {
    direction: rtl;
    height: 115px;
}
.NiliCalbtn {
    position: absolute;
    top: 0;
    height: 100%;
    background: white;
    border: none;
    width: 50px;
    cursor: pointer;
}
.pervBtn {
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nextBtn {
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.month {
    padding: 5px;
    cursor: pointer;
    height: 55px;
}
.weekTitle {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 12px;
}

.niliDays.disablead {
    background-color: #ccc;
    color: #8a8888;
    cursor: not-allowed;
}
.niliDays.disablead:hover {
    background-color: #ccc;
    color: #8a8888;
}

.jallaliCurrentTime span {
    cursor: pointer;
    font-size: 45px;
}

.calendarAction span {
    cursor: pointer;
}

.jallaliCurrentTime span:hover,
.calendarAction span:hover {
    color: #d771ff;
    border-bottom: 1px dashed white;
}

.weekDays {
    display: flex;
    padding: 0 15px;
    flex-wrap: wrap;
    /* height: 230px; */
}
.monthNames {
    flex-basis: 30%;
    height: 50px;
    margin: 10px auto;
    cursor: pointer;
}
.monthModal {
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
    transition: all 300ms;
    flex-direction: row;
}
.niliDays {
    height: 20px;
    font-size: 12px;
    width: 30px;
    margin: 4px;
    padding: 4px 0;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}
.notCurrent {
    color: blue;
    background-color: #e6e6ff;
}
.nodays {
    height: 20px;
    font-size: 12px;
    width: 30px;
    margin: 4px;
    padding: 4px 0;
}
.yearModal {
    display: flex;
    flex-wrap: wrap;
    max-height: 250px;
    overflow-y: scroll;
    opacity: 1;
    transition: all 300ms;
}
.years {
    flex-basis: 23%;
    margin: 5px auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 5px;
}
.yearActive {
    background-color: #097ad6;
    color: white;
}
.minuteModal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 1;
    transition: all 300ms;
}
/* .minute {
    flex-basis: 13%;
    margin: 5px 5px;
    font-size: 12px;
    height: 20px;
} */
.niliDays:hover {
    background-color: #80bef0;
}
.daysActive {
    border: 1px solid blue;
}
.activeTodayDate {
    background-color: #d771ff;
}
